nav {
  font-size: xx-large;
  border-bottom: solid;
  border-color: black;
}

body {
  background-color: rgb(227, 230, 231);
}

.header {
  margin-left: 30px;
  font: bold;
  font-size: 70px;
  text-align: center;
}

.center {
  text-align: center;
  background-color: dodgerblue;
  text-decoration: ghostwhite;
  border-style: solid;
  border-width: small;
  border-color: rgb(70, 68, 68);
  border-radius: 6%;
}

.card_imgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 250px;
  margin-top: 5px;
  padding-top: 5px;
  margin-bottom: 15px;
}

a {
  color: dodgerblue;
}

.title {
  font-size: 55px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-style: italic;
  color: white;
  text-align: center;
}
.card_size {
  border-style: solid;
  border-width: small;
  border-color: rgb(70, 68, 68);
  border-radius: 6%;
  background-color: rgb(222, 228, 240);
}

.container {
  background-color: aliceblue;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: x-large;
}
#img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
}
#img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 35%;
  width: 35%;
}
.contact {
  font-size: large;
  text-align: center;
}

.waves-effect {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-color: #4998e6;
}
.card {
  background-color: #e5f1fd;
}

.skills {
  text-align: center;
  font-size: larger;
}